{% extends 'master.html' %}
{% block title %} Change Password done {% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <!---<h2>Welcome <span class="text-capitalize">{{request.user}}</span> </h2> -->

    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="#" class="btn btn-primary">Change Password Done</a> </li>

        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
        <h2>Password Change Successfully!!!</h2>
        <div>
            <iframe src="https://giphy.com/embed/J20kKsn88hYAkpPtHB" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>

    </div>
    </div>
</div>
{% endblock content %}